@media(min-width: 993px) {
    .navbar {
        position: sticky;
        top: 0;
        z-index: 3;
    }
    .logo {
        font-weight: bolder;
        color: #EEF5FF;
        margin-right: 25vh;
    }
    .navbar-nav {
        width: 700px;
        display: flex;
        justify-content: space-around;
    }
    .nav-link {
        font-size: larger;
        position: relative;
        padding-bottom: 5px;
        color: #EEF5FF;
        text-decoration: none;
    }
    .nav-link.active::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: #EEF5FF;
        transition: width 0.3s ease;
    }
    .nav-link:hover {
        color: #108073;
        border-bottom: 2px solid #108073;
    }
}

@media(max-width: 992px) {
    .navbar {
        position: sticky;
        top: 0;
        z-index: 3;
    }
    #logo {
        height: 40px;
        object-fit: cover;
        padding: 0px;
    }
    .nav-link {
        color: black;
        position: relative;
        padding-bottom: 5px;
    }
    .nav-link.active::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: black; /* Adjust this color for mobile view */
        transition: width 0.3s ease;
    }
    .nav-item {
        display: inline;
    }
}
